<template>
<div class="container">
    <div class="loginOptions">
      <div class="login">
        <v-form ref="form">
          <v-text-field v-model="form.email" label="Endereço de e-mail" required />
          <v-text-field v-model="form.password" type="password" label="Senha" required />
          <v-btn id="loginBtn" round color="green" @click="login" dark>Entrar</v-btn>
        </v-form>
        <hr>
      </div>
      <div class="signUp">
        <span><strong>Não tem conta?</strong></span><br>
        <v-btn id="signUpBtn" @click="goToSign" round outline color="indigo">Inscrever-se</v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'Login',
    data () {
      return {
        form: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      ...mapActions([
          'login'
      ]),
      goToSign(){
        this.$router.push('/sign')
      }
    }
  }
</script>

<style scoped>
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.loginOptions {
  margin: auto;
  width: 30vw;
}

.login {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.signUp {
  width: 30vw;
  margin-top: 2vh;
}

#loginBtn {
  margin-left: 11.5vw;
}

#signUpBtn {
  margin-left: 10.5vw;
}

hr {
  background-color: lightgray;
  height: 1px;
  border: 0;
  margin-top: 2vh;
}

span {
  margin-left: 11.5vw;
}

@media (max-width: 600px) {
  .loginOptions {
    width: 90vw;
  }

  .login {
    width: 80vw;
    margin: auto;
  }

  .signUp {
    width: 70vw;
    margin: auto;
    margin-top: 2vh;
  }

  span {
    margin-left: 20vw;
  }

  #loginBtn {
    margin-left: 25vw;
  }

  #signUpBtn {
    margin-left: 15vw;
  }
}
</style>
