<template>
<div class="container">
    <v-form ref="form" class="form">
      <h3> Olá, diga-nos um pouco mais sobre você!</h3>
      <v-text-field v-model="form.first_name" label="Primeiro nome" required />
      <v-text-field v-model="form.cpf" label="CPF" required />
      <v-text-field v-model="form.email" label="Endereço de e-mail" required />
      <v-text-field v-model="form.password" type="password" label="Senha" required />
      <v-text-field v-model="form.password_confirmation" type="password" label="Confirmação de senha" required />
      <h4>Data de nascimento</h4>
      <div class="birth">
        <v-text-field v-model="form.day" label="Dia" required />
        <v-select v-model="form.birth_month" label="Mês" :items="months" />
        <v-text-field v-model="form.year" label="Ano" required />
      </div>
      <v-btn id="signBtn" round color="green" dark>Inscrever-se</v-btn>
      <br>
      <div class="hasAccount">
        <span>Já tem uma conta?</span>
        <router-link to="/login">Entrar</router-link>
      </div>
    </v-form>

</div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'Sign',
    data () {
      return {
        form: {
          email: '',
          first_name: '',
          cpf: '',
          birth_day: '',
          birth_month: null,
          birth_year: '',
          password: '',
          password_confirmation: ''
        },
        months: [
          'Janeiro',
          'Fevereiro',
          'Março',
          'Abril',
          'Maio',
          'Junho',
          'Julho',
          'Agosto',
          'Setembro',
          'Outubro',
          'Novembro',
          'Dezembro'
        ],
      }
    },
    methods: {
    }
  }
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h3 {
  text-align: center;
}

.form {
  margin: auto;
  width: 30vw;
}

.birth {
  margin: auto;
  width: 30vw;
  display: flex;
}

#signBtn {
  margin-left: 35%;
}

.hasAccount {
  margin-top: 1%;
  text-align: center;
}

@media (max-width: 600px) {
    .form {
      margin: auto;
      width: 80vw;
    }

    .birth {
      margin: auto;
      width: 80vw;
      display: flex;
    }

    h3 {
      text-align: center;
    }

    #signBtn {
      margin-left: 28%;
    }

}
</style>
